// Data pagination styles
.data-table-pagination {
  margin-top: $au-unit;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.data-table-pagination-left {
  @extend .au-c-help-text;
}
.help-text {
  display: flex;
  flex-direction: column;
}
.link-external {
  justify-content: right;
}
.active-status {
  background-color: #009e47;
  color: white;
}
.data-table-pagination-right {
  display: flex;
  gap: $au-unit-tiny;

  button {
    @extend .au-c-button;
    @extend .au-c-button--link;
  }

  select {
    background-color: var(--au-white);
    border: 0.1rem solid var(--au-gray-300);
    border-radius: $au-radius;
    padding: $au-unit-tiny;
  }
}

// For data display

.grid-container-two-column-fixed {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.au-u-flex--flex-start {
  align-items: flex-start;
}

.au-u-flex--flex-end {
  align-items: flex-end;
}

// Tweak breadcrumb list: improve responsive behaviour
.au-c-list-horizontal--breadcrumbs {
  @include au-font-size($au-base);

  @include mq($until: small) {
    .au-c-list-horizontal__item {
      display: none;
    }

    .au-c-list-horizontal__item:first-child {
      display: block;
    }
  }
}

#primary-site-icon {
  color: var(--au-blue-700);
}

.au-c-button-group {
  justify-content: flex-end;
}