<AuMainHeader
  @brandLink="https://www.vlaanderen.be/nl"
  @homeRoute="index"
  @appTitle={{config "appName"}}
>

  <li class="au-c-list-horizontal__item">
    <AuLinkExternal
      href="https://abb-vlaanderen.gitbook.io/handleiding-loket/veelgestelde-vragen"
      @skin="secondary"
    >
      <AuIcon @icon="question-circle" @alignment="left" />
      Help
    </AuLinkExternal>
  </li>
  <li class="au-c-list-horizontal__item">
    {{#if this.session.isAuthenticated}}
      <AuDropdown
        @title={{this.currentSession.fullName}}
        @buttonLabel="Account settings"
        @alignment="right"
        role="menu"
      >
        <AuLink role="menuitem" @route="auth.switch" @icon="switch">
          Wissel van bestuurseenheid
        </AuLink>

        <AuLink @route="auth.logout" @icon="logout" role="menuitem">
          Afmelden
        </AuLink>
      </AuDropdown>
    {{else}}
      <LoginButton @isCompact={{true}} />
    {{/if}}
  </li>

</AuMainHeader>