<div>
  <h1>Less chat</h1>
  <p>More splat</p>
  <p>JS</p>
  <p>Person name: {{this.personName}}</p>
  <button {{on "click" this.action}} type="button">Click me</button>
  {{#if this.show}}
  <p>Derp</p>
  {{/if}}
</div>